import classes from "./{{pascalCase name}}.module.css";

const {{pascalCase name}} = (): JSX.Element => {
  return (
    <div className={classes.root}>
      <span>{{ name }}</span>
    </div>
  );
};

export default {{pascalCase name}};
